<%- include('partials/header') %>

    <div class="timer-div">
      <h1>It has been <span id="timer"></span> since she said yes!</h1>
    </div>

  <div class="row">
    <div class="col-md">
      <div class="display-window">
        <div class="image">
          <img class="d-block w-100" src="https://lh3.googleusercontent.com/9VoWd7lUvrxQ11kJOqS4Z8PdDgNAyLG5q3Ous7A0dvRdthNnW945R4eN19E8Ynz6ZuSSjsAVNxNL8rqVEI44433Ew24JECue--JZXA0c3vcMj4yO7pk9fQrqK7AZx5zb4E2FoIPdnDA=w2400" alt="Will on his knee in front of Natalie">
          <p>After a spontaneous day at Disney, Will spontaneously proposed to Natalie.</p>
        </div>
      </div>
      </div>

    <div class="col-md">
      <div class="display-window">
        <div class="image">
          <img class="d-block w-100" src="https://lh3.googleusercontent.com/SojBwopPoZMLggqtiM0a8C7yuU77GlLBYJbZE2GioltWDxr6iJ_c6kK5Lx06xvNpD0uoadp5A_dzpGtHF9OxIPe89zOpRWLbkYosMIFV0CM9D3YkmCAyS_mJQoIogdb1IaVz_93b_x0=w2400" alt="Natalie showing off the ring in front of Disneyland">
          <p>Natalie was so excited to show off her fiery ring to anyone passing by!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="verticle display-window">
        <div class="image">
          <img class="d-block w-100" src="https://lh3.googleusercontent.com/n2gokBD7mCbscL05--bBGz-ylVX0bTFWni0eK1XVSuxHb_MrKnhADPRSE6K7udc9QSjgQDNDUXzP8i5vrLiqZQgo5ti0gdgZXMnWh_sP4Y2nI49Tk0-6nLWn5vU9j1WTzY1cCLKnqCg=w2400" alt="Natalie with Champagne showing off the ring">
          <p>Then at dinner they both kept smiling and getting distracted by the ring.</p>
        </div>
      </div>
      </div>

      <div class="col-sm">
        <div class="verticle display-window">
          <div class="image">
            <img class="d-block w-100" src="https://lh3.googleusercontent.com/AL3pFtuz8j2myEy2dIAcRsUaWXzcJ4dIFp4x3h8eirD_9_3lmn7Jb2luH7DaATk4T98n2D5XFQzw7It08i3aeoBPneL0USEd4S_AFul98OuqT9iAEi4OugruABrJmJb9Lepwrb-Y36A=w2400" alt="Artistic Rendering of Breezy the van with the ring">
            <p>And even though they're on their way back now</p>
          </div>
       </div>
      </div>

    <div class="col-sm">
      <div class="verticle display-window">
        <div class="image">
          <img class = "d-block w-100" src="https://lh3.googleusercontent.com/kbEXJirZmmsBJTROZlQgdqhK286aHteZ_V_V64O9ehk8Wz1DAEywVIqXmv_TzCmLAn1rTQCvV9MlqPIYiXhqOsyqfpH5A5haqFJ_Kju3W7qYS8eHjPFIcE4aP28B6y2YEKiJqlYsuXw=w2400" alt="Picture from a coffeehouse, highlighting the ring">
          <p>Everything is different now. They're engaged!</p>
        </div>
      </div>
    </div>

 </div>

     <script src="/js/countdown.js" charset="utf-8"></script>
   </body>
</html>
